parts/Affiliates.html

<section>
  <div class="row">
    <div class="affiliates">
      <div class="affiliates__title"><span>Філіали</span></div>
      <div class="affiliates-items clearfix">
        <article class="column large-6 medium-4">
          <div class="affiliates-item border_color"><a href="single_club.html">
              <div class="affiliates-item__img"><img src="./dist/images/home_bg.png" alt=""/></div>
              <div class="affiliates-item__text"><span>Київ Голосеево</span></div></a></div>
        </article>
        <article class="column large-3 medium-4">
          <div class="affiliates-item border_color border_color_2"><a href="single_club.html">
              <div class="affiliates-item__img"><img src="./dist/images/home_bg.png" alt=""/></div>
              <div class="affiliates-item__text"><span>Київ Троєщина</span></div></a></div>
        </article>
        <article class="column large-3 medium-4">
          <div class="affiliates-item border_color border_color_3"><a href="single_club.html">
              <div class="affiliates-item__img"><img src="./dist/images/home_bg.png" alt=""/></div>
              <div class="affiliates-item__text"><span>Івано- Франківськ</span></div></a></div>
        </article>
      </div>
      <div class="affiliates__btn"><a class="btn btn_blue" href="rozklad.html">
           Розклад занять<i class="fas fa-arrow-right"></i></a></div>
    </div>
  </div>
</section>

pug/parts/Affiliates.pug
section
	.row
		.affiliates
			.affiliates__title
				span Філіали
			.affiliates-items.clearfix
				article.column.large-6.medium-4
					.affiliates-item.border_color
						a(href="single_club.html")
							.affiliates-item__img
								img(src="./dist/images/home_bg.png", alt="")
							.affiliates-item__text
								span Київ Голосеево
				article.column.large-3.medium-4
					.affiliates-item.border_color.border_color_2
						a(href="single_club.html")
							.affiliates-item__img
								img(src="./dist/images/home_bg.png", alt="")
							.affiliates-item__text
								span Київ Троєщина
				article.column.large-3.medium-4
					.affiliates-item.border_color.border_color_3
						a(href="single_club.html")
							.affiliates-item__img
								img(src="./dist/images/home_bg.png", alt="")
							.affiliates-item__text
								span Івано- Франківськ
			.affiliates__btn
				a.btn.btn_blue(href="rozklad.html") 
					| Розклад занять
					i.fas.fa-arrow-right
							
