pug/parts/block-news.pug
section.block-news-wrap
	.row
		.block-news
			.block-news__title
				span Останні новини і події
			.block-news__items.clearfix
				article
					a(href="#").block-news-item.column.large-4.medium-4
						.block-news-item__img
							img(src="./dist/images/home_bg.png", alt="")
						.block-news-item__title
							span Открыт набор в новые группы
				article
					a(href="#").block-news-item.column.large-4.medium-4
						.block-news-item__img
							img(src="./dist/images/home_bg.png", alt="")
						.block-news-item__title
							span Открыт набор в новые группы
				article
					a(href="#").block-news-item.column.large-4.medium-4
						.block-news-item__img
							img(src="./dist/images/home_bg.png", alt="")
						.block-news-item__title
							span Открыт набор в новые группы
			.block-news__btn
				a.btn.btn_green(href="#")
					| більше новин
					i.fas.fa-arrow-right

parts/block-news.html

<section class="block-news-wrap">
  <div class="row">
    <div class="block-news">
      <div class="block-news__title"><span>Останні новини і події</span></div>
      <div class="block-news__items clearfix">
        <article><a class="block-news-item column large-4 medium-4" href="#">
            <div class="block-news-item__img"><img src="./dist/images/home_bg.png" alt=""/></div>
            <div class="block-news-item__title"><span>Открыт набор в новые группы</span></div></a></article>
        <article><a class="block-news-item column large-4 medium-4" href="#">
            <div class="block-news-item__img"><img src="./dist/images/home_bg.png" alt=""/></div>
            <div class="block-news-item__title"><span>Открыт набор в новые группы</span></div></a></article>
        <article><a class="block-news-item column large-4 medium-4" href="#">
            <div class="block-news-item__img"><img src="./dist/images/home_bg.png" alt=""/></div>
            <div class="block-news-item__title"><span>Открыт набор в новые группы</span></div></a></article>
      </div>
      <div class="block-news__btn"><a class="btn btn_green" href="#">більше новин<i class="fas fa-arrow-right"></i></a></div>
    </div>
  </div>
</section>
