pug/parts/block-team.pug
section.block-team-wrap
	.row
		.block-team
			.block-team__title
				span Команда
			.block-team__slider
				.teamSlider__arrow
					
					.teamSl-Prev
						i.fas.fa-arrow-left
					.teamSl-Next
						i.fas.fa-arrow-right
				.teamSlider
					article.team-slide
						
						.team-slide__name
							a(href="single_dancer.html") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop
					article.team-slide
						
						.team-slide__name
							a(href="single_dancer.html") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop


					article.team-slide
						
						.team-slide__name
							a(href="single_dancer.html") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Hip-Hop
								li
									a(href="#") Фитнес Mix 


					article.team-slide
					
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop
					article.team-slide
						
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Hip-Hop
								li
									a(href="#") Фитнес Mix 


					article.team-slide
					
						.team-slide__name
							a(href="#") Алина Крюкова
						.team-slide__foto
							img(src="./dist/images/home_bg.png", alt="")
						.team-slide__skill
							ul
								li
									a(href="#") Strip dance
								li
									a(href="#") Растяжка Stretching
								li
									a(href="#") Фитнес Mix
								li
									a(href="#") Hip-Hop

			.block-team__btn
				a.btn.btn_green(href="team.html")
					|вся команда
					i.fas.fa-arrow-right
.block-team_pattern

parts/block-team.html

<section class="block-team-wrap">
  <div class="row">
    <div class="block-team">
      <div class="block-team__title"><span>Команда</span></div>
      <div class="block-team__slider">
        <div class="teamSlider__arrow">
          <div class="teamSl-Prev"><i class="fas fa-arrow-left"></i></div>
          <div class="teamSl-Next"><i class="fas fa-arrow-right"></i></div>
        </div>
        <div class="teamSlider">
          <article class="team-slide">
            <div class="team-slide__name"><a href="single_dancer.html">Алина Крюкова</a></div>
            <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""/></div>
            <div class="team-slide__skill">
              <ul>
                <li><a href="#">Strip dance</a></li>
                <li><a href="#">Растяжка Stretching</a></li>
                <li><a href="#">Фитнес Mix</a></li>
                <li><a href="#">Hip-Hop</a></li>
              </ul>
            </div>
          </article>
          <article class="team-slide">
            <div class="team-slide__name"><a href="single_dancer.html">Алина Крюкова</a></div>
            <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""/></div>
            <div class="team-slide__skill">
              <ul>
                <li><a href="#">Strip dance</a></li>
                <li><a href="#">Растяжка Stretching</a></li>
                <li><a href="#">Фитнес Mix</a></li>
                <li><a href="#">Hip-Hop</a></li>
              </ul>
            </div>
          </article>
          <article class="team-slide">
            <div class="team-slide__name"><a href="single_dancer.html">Алина Крюкова</a></div>
            <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""/></div>
            <div class="team-slide__skill">
              <ul>
                <li><a href="#">Strip dance</a></li>
                <li><a href="#">Растяжка Stretching</a></li>
                <li><a href="#">Hip-Hop</a></li>
                <li><a href="#">Фитнес Mix </a></li>
              </ul>
            </div>
          </article>
          <article class="team-slide">
            <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
            <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""/></div>
            <div class="team-slide__skill">
              <ul>
                <li><a href="#">Strip dance</a></li>
                <li><a href="#">Растяжка Stretching</a></li>
                <li><a href="#">Фитнес Mix</a></li>
                <li><a href="#">Hip-Hop</a></li>
              </ul>
            </div>
          </article>
          <article class="team-slide">
            <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
            <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""/></div>
            <div class="team-slide__skill">
              <ul>
                <li><a href="#">Strip dance</a></li>
                <li><a href="#">Растяжка Stretching</a></li>
                <li><a href="#">Hip-Hop</a></li>
                <li><a href="#">Фитнес Mix </a></li>
              </ul>
            </div>
          </article>
          <article class="team-slide">
            <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
            <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""/></div>
            <div class="team-slide__skill">
              <ul>
                <li><a href="#">Strip dance</a></li>
                <li><a href="#">Растяжка Stretching</a></li>
                <li><a href="#">Фитнес Mix</a></li>
                <li><a href="#">Hip-Hop</a></li>
              </ul>
            </div>
          </article>
        </div>
      </div>
      <div class="block-team__btn"><a class="btn btn_green" href="team.html">вся команда<i class="fas fa-arrow-right"></i></a></div>
    </div>
  </div>
</section>
<div class="block-team_pattern"></div>
