pug/parts/block-social.pug
section
	.row
		.block-social
			.block-social__title
				span Ми в соцмережах
			.block-social__items
				.social-block.column.large-3.medium-6.small-6
					.social-block__logo
						img(src="./dist/images/inst.svg", alt="")
					.social-block__link.social-block__link_inst
						p Іnstagram: 
						a(href="#") #mixstyledance
					.social-block__btn
						a.btn.btn_small(href="#") підписатись

				.social-block.social-block_foto.column.large-3.medium-6.small-6
					img(src="./dist/images/image.png", alt="")
				.social-block.social-block_foto.column.large-3.medium-6.small-6
					img(src="./dist/images/home_bg.png", alt="")
				.social-block.social-block_foto.column.large-3.medium-6.small-6
					img(src="./dist/images/image.png", alt="")

				.social-block.column.large-3.medium-6.small-6
					.social-block__logo
						img(src="./dist/images/youtube.svg", alt="")
					.social-block__link.social-block__link_YouTube
						p YouTube: 
						a(href="#") #mixstyledance
					.social-block__btn
						a.btn.btn_small(href="#") підписатись

				.social-block.column.large-3.medium-6.small-6
					.social-block__logo
						img(src="./dist/images/Facebook.svg", alt="")
					.social-block__link.social-block__link_fb
						p Facebook: 
						a(href="#") #mixstyledance
					.social-block__btn
						a.btn.btn_small(href="#") підписатись

				.social-block.social-block_foto.column.large-3.medium-6.small-6
					img(src="./dist/images/image.png", alt="")
				.social-block.social-block_foto.column.large-3.medium-6.small-6
					img(src="./dist/images/home_bg.png", alt="")

parts/block-social.html

<section>
  <div class="row">
    <div class="block-social">
      <div class="block-social__title"><span>Ми в соцмережах</span></div>
      <div class="block-social__items">
        <div class="social-block column large-3 medium-6 small-6">
          <div class="social-block__logo"><img src="./dist/images/inst.svg" alt=""/></div>
          <div class="social-block__link social-block__link_inst">
            <p>Іnstagram: </p><a href="#">#mixstyledance</a>
          </div>
          <div class="social-block__btn"><a class="btn btn_small" href="#">підписатись</a></div>
        </div>
        <div class="social-block social-block_foto column large-3 medium-6 small-6"><img src="./dist/images/image.png" alt=""/></div>
        <div class="social-block social-block_foto column large-3 medium-6 small-6"><img src="./dist/images/home_bg.png" alt=""/></div>
        <div class="social-block social-block_foto column large-3 medium-6 small-6"><img src="./dist/images/image.png" alt=""/></div>
        <div class="social-block column large-3 medium-6 small-6">
          <div class="social-block__logo"><img src="./dist/images/youtube.svg" alt=""/></div>
          <div class="social-block__link social-block__link_YouTube">
            <p>YouTube: </p><a href="#">#mixstyledance</a>
          </div>
          <div class="social-block__btn"><a class="btn btn_small" href="#">підписатись</a></div>
        </div>
        <div class="social-block column large-3 medium-6 small-6">
          <div class="social-block__logo"><img src="./dist/images/Facebook.svg" alt=""/></div>
          <div class="social-block__link social-block__link_fb">
            <p>Facebook: </p><a href="#">#mixstyledance</a>
          </div>
          <div class="social-block__btn"><a class="btn btn_small" href="#">підписатись</a></div>
        </div>
        <div class="social-block social-block_foto column large-3 medium-6 small-6"><img src="./dist/images/image.png" alt=""/></div>
        <div class="social-block social-block_foto column large-3 medium-6 small-6"><img src="./dist/images/home_bg.png" alt=""/></div>
      </div>
    </div>
  </div>
</section>
