pug/parts/header.pug
header
	.row
		.header
			.header__soc.column.large-1
				a(href="#")
					img(src="./dist/images/h-inst.svg", alt="")
				a(href="#")
					img(src="./dist/images/h-fb.svg", alt="")
			.header__menu.column.large-10
				
				ul.menu_left
					li MIX style
						ul.sub_menu
							li
								a(href="#") MIX style2
							li
								a(href="#") MIX style3
					li
						a(href="#") Расписание
				.header__logo
					a(href="index.html")
						img(src="./dist/images/header_logo.svg", alt="")
				
				ul.menu_right
					li филиалы
						ul.sub_menu
							li
								a(href="#") филиалы2
							li
								a(href="#") филиалы3
					li
						a(href="#") цены

			.header__lang.column.large-1
				a(href="#") ru

parts/header.html

<header>
  <div class="row">
    <div class="header">
      <div class="header__soc column large-1"><a href="#"><img src="./dist/images/h-inst.svg" alt=""/></a><a href="#"><img src="./dist/images/h-fb.svg" alt=""/></a></div>
      <div class="header__menu column large-10">
        <ul class="menu_left">
          <li>MIX style
            <ul class="sub_menu">
              <li><a href="#">MIX style2</a></li>
              <li><a href="#">MIX style3</a></li>
            </ul>
          </li>
          <li><a href="#">Расписание</a></li>
        </ul>
        <div class="header__logo"><a href="index.html"><img src="./dist/images/header_logo.svg" alt=""/></a></div>
        <ul class="menu_right">
          <li>филиалы
            <ul class="sub_menu">
              <li><a href="#">филиалы2</a></li>
              <li><a href="#">филиалы3</a></li>
            </ul>
          </li>
          <li><a href="#">цены</a></li>
        </ul>
      </div>
      <div class="header__lang column large-1"><a href="#">ru</a></div>
    </div>
  </div>
</header>
