pug/parts/home_video.pug
section
	.home-video
		.home-video__video
			img(src="./dist/images/home_bg.png", alt="")
		.home-video__title
			.page_title
				span Сучасні танці вже зараз!
			.page_sub_title
				span Відкритейте для себе новий світ танців вже сьогодні!
		.home-video__btn
			a.btn.btn_red(href="#") 
				
				| пробне заняття
				i.fas.fa-arrow-right
		.home-video_pattern

parts/home_video.html

<section>
  <div class="home-video">
    <div class="home-video__video"><img src="./dist/images/home_bg.png" alt=""/></div>
    <div class="home-video__title">
      <div class="page_title"><span>Сучасні танці вже зараз!</span></div>
      <div class="page_sub_title"><span>Відкритейте для себе новий світ танців вже сьогодні!</span></div>
    </div>
    <div class="home-video__btn"><a class="btn btn_red" href="#">
         пробне заняття<i class="fas fa-arrow-right"></i></a></div>
    <div class="home-video_pattern"></div>
  </div>
</section>
