parts/rozklad.html

<section class="affiliates_schedule active">
  <div class="row">
    <div class="schedule__filter column large-7">
      <p>Вікові групи</p>
      <ul class="tabs-trigger">
        <li data-collection="schedule_filter-golos" data-triger="adults"> <span>дорослі</span></li>
        <li data-collection="schedule_filter-golos" data-triger="children"> <span>діти (малеча)</span></li>
        <li data-collection="schedule_filter-golos" data-triger="teens"> <span>діти та підлітки</span></li>
      </ul>
    </div>
  </div>
  <div class="schedule-wrap">
    <div class="row">
      <div class="schedule">
        <div class="schedule__title"><span>Київ Голосеево</span></div>
        <div class="schedule__items column large-10 large-offset-2">
          <article class="schedule-item" data-collection="schedule_filter-golos" data-target="adults">
            <div class="schedule-item__date">
              <div class="date-item"><span>Понеділок</span>
                <p>13:00</p>
              </div>
              <div class="date-item"><span>Середа</span>
                <p>18:00</p>
              </div>
              <div class="date-item"><span>Середа</span>
                <p>18:00</p>
              </div>
            </div>
            <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
            <div class="schedule-item__info">
              <div class="name"><span>Александра  Раковец</span></div>
              <div class="styleDance"><span>Ladydance</span></div>
              <div class="level">
                <ul>
                  <li>Дорослі</li>
                  <li>Початковий рівень </li>
                </ul>
              </div><a class="btn btn_small" href="#">записатись</a>
              <div class="group"><span>група набрана</span></div>
            </div>
          </article>
          <article class="schedule-item" data-collection="schedule_filter-golos" data-target="adults">
            <div class="schedule-item__date">
              <div class="date-item"><span>Понеділок</span>
                <p>13:00</p>
              </div>
              <div class="date-item"><span>Середа</span>
                <p>18:00</p>
              </div>
            </div>
            <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
            <div class="schedule-item__info">
              <div class="name"><span>Александра  Раковец</span></div>
              <div class="styleDance"><span>Contemporary</span></div>
              <div class="level">
                <ul>
                  <li>Дорослі</li>
                  <li>Початковий рівень </li>
                </ul>
              </div><a class="btn btn_small" href="#">записатись</a>
              <div class="group"><span>група набрана</span></div>
            </div>
          </article>
          <article class="schedule-item" data-collection="schedule_filter-golos" data-target="adults">
            <div class="schedule-item__date">
              <div class="date-item"><span>Понеділок</span>
                <p>13:00</p>
              </div>
              <div class="date-item"><span>Середа</span>
                <p>18:00</p>
              </div>
            </div>
            <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
            <div class="schedule-item__info">
              <div class="name"><span>Александра  Раковец</span></div>
              <div class="styleDance"><span>Ladydance</span></div>
              <div class="level">
                <ul>
                  <li>Дорослі</li>
                  <li>Початковий рівень </li>
                </ul>
              </div><a class="btn btn_small" href="#">записатись</a>
              <div class="group"><span>група набрана</span></div>
            </div>
          </article>
          <article class="schedule-item" data-collection="schedule_filter-golos" data-target="adults">
            <div class="schedule-item__date">
              <div class="date-item"><span>Понеділок</span>
                <p>13:00</p>
              </div>
              <div class="date-item"><span>Середа</span>
                <p>18:00</p>
              </div>
            </div>
            <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
            <div class="schedule-item__info">
              <div class="name"><span>Александра  Раковец</span></div>
              <div class="styleDance"><span>Ladydance</span></div>
              <div class="level">
                <ul>
                  <li>Дорослі</li>
                  <li>Початковий рівень </li>
                </ul>
              </div><a class="btn btn_small" href="#">записатись</a>
              <div class="group"><span>група набрана</span></div>
            </div>
          </article>
          <article class="schedule-item" data-collection="schedule_filter-golos" data-target="children">
            <div class="schedule-item__date">
              <div class="date-item"><span>Понеділок</span>
                <p>13:00</p>
              </div>
              <div class="date-item"><span>Середа</span>
                <p>18:00</p>
              </div>
            </div>
            <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
            <div class="schedule-item__info">
              <div class="name"><span>Александра  Раковец</span></div>
              <div class="styleDance"><span>Ladydance</span></div>
              <div class="level">
                <ul>
                  <li>діти</li>
                  <li>Початковий рівень </li>
                </ul>
              </div><a class="btn btn_small" href="#">записатись</a>
              <div class="group"><span>група набрана</span></div>
            </div>
          </article>
          <article class="schedule-item" data-collection="schedule_filter-golos" data-target="children">
            <div class="schedule-item__date">
              <div class="date-item"><span>Понеділок</span>
                <p>13:00</p>
              </div>
              <div class="date-item"><span>Середа</span>
                <p>18:00</p>
              </div>
            </div>
            <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
            <div class="schedule-item__info">
              <div class="name"><span>Александра  Раковец</span></div>
              <div class="styleDance"><span>Ladydance</span></div>
              <div class="level">
                <ul>
                  <li>діти</li>
                  <li>Початковий рівень </li>
                </ul>
              </div><a class="btn btn_small" href="#">записатись</a>
              <div class="group"><span>група набрана</span></div>
            </div>
          </article>
          <article class="schedule-item" data-collection="schedule_filter-golos" data-target="children">
            <div class="schedule-item__date">
              <div class="date-item"><span>Понеділок</span>
                <p>13:00</p>
              </div>
              <div class="date-item"><span>Середа</span>
                <p>18:00</p>
              </div>
            </div>
            <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
            <div class="schedule-item__info">
              <div class="name"><span>Александра  Раковец</span></div>
              <div class="styleDance"><span>Ladydance</span></div>
              <div class="level">
                <ul>
                  <li>діти</li>
                  <li>Початковий рівень </li>
                </ul>
              </div><a class="btn btn_small" href="#">записатись</a>
              <div class="group"><span>група набрана</span></div>
            </div>
          </article>
          <article class="schedule-item" data-collection="schedule_filter-golos" data-target="teens">
            <div class="schedule-item__date">
              <div class="date-item"><span>Понеділок</span>
                <p>13:00</p>
              </div>
              <div class="date-item"><span>Середа</span>
                <p>18:00</p>
              </div>
            </div>
            <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
            <div class="schedule-item__info">
              <div class="name"><span>Александра  Раковец</span></div>
              <div class="styleDance"><span>Ladydance</span></div>
              <div class="level">
                <ul>
                  <li>підлітки</li>
                  <li>Початковий рівень </li>
                </ul>
              </div><a class="btn btn_small" href="#">записатись</a>
              <div class="group"><span>група набрана</span></div>
            </div>
          </article>
          <article class="schedule-item" data-collection="schedule_filter-golos" data-target="teens">
            <div class="schedule-item__date">
              <div class="date-item"><span>Понеділок</span>
                <p>13:00</p>
              </div>
              <div class="date-item"><span>Середа</span>
                <p>18:00</p>
              </div>
            </div>
            <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""/></div>
            <div class="schedule-item__info">
              <div class="name"><span>Александра  Раковец</span></div>
              <div class="styleDance"><span>Ladydance</span></div>
              <div class="level">
                <ul>
                  <li>підлітки</li>
                  <li>Початковий рівень </li>
                </ul>
              </div><a class="btn btn_small" href="#">записатись</a>
              <div class="group"><span>група набрана</span></div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="schedule__btn"><a class="btn btn_green" href="#">записатись на заняття</a></div>
</section>

pug/parts/rozklad.pug
section.affiliates_schedule.active
	.row
		.schedule__filter.column.large-7
			p Вікові групи
			ul.tabs-trigger
				li(data-collection="schedule_filter-golos", data-triger="adults") 
					span дорослі
				li(data-collection="schedule_filter-golos", data-triger="children") 
					span діти (малеча)
				li(data-collection="schedule_filter-golos", data-triger="teens") 
					span діти та підлітки
						
	.schedule-wrap
		.row
			.schedule
				.schedule__title
					span Київ Голосеево
				.schedule__items.column.large-10.large-offset-2
					article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li Дорослі
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Contemporary
								.level
									ul
										li Дорослі
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li Дорослі
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="adults")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li Дорослі
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="children")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li діти
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="children")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li діти
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="children")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li діти
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="teens")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li підлітки
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
					article.schedule-item(data-collection="schedule_filter-golos", data-target="teens")
						
							.schedule-item__date
								.date-item
									span Понеділок
									p 13:00
								.date-item
									span Середа
									p 18:00
							.schedule-item__img
								img(src="./dist/images/image.png", alt="")
							.schedule-item__info
								.name
									span Александра  Раковец
								.styleDance
									span Ladydance
								.level
									ul
										li підлітки
										li Початковий рівень 
								a.btn.btn_small(href="#") записатись
								.group
									span група набрана
	.schedule__btn
			a.btn.btn_green(href="#") записатись на заняття
