parts/styles.html

<section>
  <div class="row">
    <div class="styles">
      <div class="styles__title"><a href="#">Стилі</a></div>
      <div class="styles__filter">
        <ul class="tabs-trigger">
          <li class="tab-active" data-collection="1" data-triger="0">для дорослих</li>
          <li data-collection="1" data-triger="1">для малечі</li>
          <li data-collection="1" data-triger="2">для дітей та підлітків</li>
          <li data-collection="1" data-triger="3">індивідуальні заняття</li>
        </ul><a class="btn btn_all-styles" href="styles.html">
           всі стилі<i class="fas fa-arrow-right"></i></a>
      </div>
      <div class="styles-content">
        <div class="styles__items active" data-collection="1" data-target="0">
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-3">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
        </div>
        <div class="styles__items" data-collection="1" data-target="1">
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
        </div>
        <div class="styles__items" data-collection="1" data-target="2">
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
        </div>
        <div class="styles__items" data-collection="1" data-target="3">
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="column large-3 medium-4">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""/></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
        </div>
      </div>
      <div class="styles__btn"><a class="btn btn_blue" href="#">Розклад занять<i class="fas fa-arrow-right"></i></a></div>
    </div>
  </div>
</section>

pug/parts/styles.pug
section
	.row
		.styles
			.styles__title
				a(href="#") Стилі
				
			.styles__filter
				ul.tabs-trigger
					li.tab-active(data-collection="1", data-triger="0") для дорослих
					li(data-collection="1", data-triger="1") для малечі
					li(data-collection="1", data-triger="2") для дітей та підлітків
					li(data-collection="1", data-triger="3") індивідуальні заняття
				a.btn.btn_all-styles(href="styles.html") 
					| всі стилі
					i.fas.fa-arrow-right
			.styles-content
				.styles__items.active(data-collection="1", data-target="0")
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-3
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше









				.styles__items(data-collection="1", data-target="1")
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
				
				




				.styles__items(data-collection="1", data-target="2")
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					




				.styles__items(data-collection="1", data-target="3")
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.column.large-3.medium-4
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
			.styles__btn
				a.btn.btn_blue(href="#")
					| Розклад занять
					i.fas.fa-arrow-right




						
