parts/team-intro.html

<section class="team-intro_bg">
  <div class="team-intro-wrap">
    <div class="row">
      <div class="page-intro">
        <div class="page-intro__title"><span>Команда</span>
          <div class="sub-title"><span>Тренеры MixStyle</span></div>
        </div>
        <div class="page-intro__breadcrumbs">
          <div class="row column">
            <nav aria-label="You are here:" role="navigation">
              <ul class="breadcrumbs">
                <li><a href="#">Головна </a></li>
                <li><span class="show-for-sr">Current: </span>Команда</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

pug/parts/team-intro.pug
section.team-intro_bg
	.team-intro-wrap
		.row
			.page-intro
				
				.page-intro__title
					span Команда
					.sub-title
						span Тренеры MixStyle
				.page-intro__breadcrumbs
					include ./breadcrumbs
