pug/single_club.pug
doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/header
		section
			.intro-wrap( style="background-image:url(./dist/images/dancer.png)")
				.row
					.page-intro
						.page-intro__title
							span Голосеево
							.sub-title
								span Студия танцев MIXSTYLE
						.page-intro__breadcrumbs
							include ./parts/breadcrumbs
		section
			.row
				.club_groups
					.club_groups__title
						span Группы в студии
					.styles__items.active
						article.column.large-3.medium-4
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше
						article.column.large-3.medium-3
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше
						article.column.large-3.medium-4
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше
						article.column.large-3.medium-4
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше
						article.column.large-3.medium-4
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше
						article.column.large-3.medium-4
							.styles-item
								.styles-item__title
									span Jazz Funk
								a(href="#").styles-item__img
									.styles-item__img_bg
									img(src="./dist/images/image.png", alt="")
								.styles-item__btn
									a.btn.btn_small(href="#") детальніше


		include ./parts/block-team	
		.club_schedule
			.club_schedule__title
				span Розклад занять

			include ./parts/rozklad
		
		section
			.row
				.rent.clearfix
					.column.large-4
						.rent__info
							.rent__title
								span Оренда залу
							.rent__text
								p Ви можете орендувати наш зал для вашої події чи занять 
								p Звертайтесь за телефоном щоб орендувати танцювальний зал у Києві без реєстрації і смс 
								a(href="tel:+38 099 37 45 909") +38 099 37 45 909
							.rent__btn
								a.btn.btn_small(href="#") орендувати

					.column.large-8
						.rent__img
							img(src="./dist/images/image.png", alt="")



		include ./parts/club_map





		include ./parts/footer

single_club.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>mixstyle</title>
    <meta name="description" content="">
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="dist/scripts/jquery.js"></script>
    <script type="text/javascript" src="dist/scripts/main.js"> </script>
    <link rel="stylesheet" href="dist/styles/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="dist/images/favicon.png">
  </head>
  <body>
    <header>
      <div class="row">
        <div class="header">
          <div class="header__soc column large-1"><a href="#"><img src="./dist/images/h-inst.svg" alt=""></a><a href="#"><img src="./dist/images/h-fb.svg" alt=""></a></div>
          <div class="header__menu column large-10">
            <ul class="menu_left">
              <li>MIX style
                <ul class="sub_menu">
                  <li><a href="#">MIX style2</a></li>
                  <li><a href="#">MIX style3</a></li>
                </ul>
              </li>
              <li><a href="#">Расписание</a></li>
            </ul>
            <div class="header__logo"><a href="index.html"><img src="./dist/images/header_logo.svg" alt=""></a></div>
            <ul class="menu_right">
              <li>филиалы
                <ul class="sub_menu">
                  <li><a href="#">филиалы2</a></li>
                  <li><a href="#">филиалы3</a></li>
                </ul>
              </li>
              <li><a href="#">цены</a></li>
            </ul>
          </div>
          <div class="header__lang column large-1"><a href="#">ru</a></div>
        </div>
      </div>
    </header>
    <section>
      <div class="intro-wrap" style="background-image:url(./dist/images/dancer.png)">
        <div class="row">
          <div class="page-intro">
            <div class="page-intro__title"><span>Голосеево</span>
              <div class="sub-title"><span>Студия танцев MIXSTYLE</span></div>
            </div>
            <div class="page-intro__breadcrumbs">
              <div class="row column">
                <nav aria-label="You are here:" role="navigation">
                  <ul class="breadcrumbs">
                    <li><a href="#">Головна </a></li>
                    <li><span class="show-for-sr">Current: </span>Команда</li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="club_groups">
          <div class="club_groups__title"><span>Группы в студии</span></div>
          <div class="styles__items active">
            <article class="column large-3 medium-4">
              <div class="styles-item">
                <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                  <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
                <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
              </div>
            </article>
            <article class="column large-3 medium-3">
              <div class="styles-item">
                <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                  <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
                <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
              </div>
            </article>
            <article class="column large-3 medium-4">
              <div class="styles-item">
                <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                  <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
                <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
              </div>
            </article>
            <article class="column large-3 medium-4">
              <div class="styles-item">
                <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                  <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
                <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
              </div>
            </article>
            <article class="column large-3 medium-4">
              <div class="styles-item">
                <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                  <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
                <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
              </div>
            </article>
            <article class="column large-3 medium-4">
              <div class="styles-item">
                <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                  <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
                <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section class="block-team-wrap">
      <div class="row">
        <div class="block-team">
          <div class="block-team__title"><span>Команда</span></div>
          <div class="block-team__slider">
            <div class="teamSlider__arrow">
              <div class="teamSl-Prev"><i class="fas fa-arrow-left"></i></div>
              <div class="teamSl-Next"><i class="fas fa-arrow-right"></i></div>
            </div>
            <div class="teamSlider">
              <article class="team-slide">
                <div class="team-slide__name"><a href="single_dancer.html">Алина Крюкова</a></div>
                <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""></div>
                <div class="team-slide__skill">
                  <ul>
                    <li><a href="#">Strip dance</a></li>
                    <li><a href="#">Растяжка Stretching</a></li>
                    <li><a href="#">Фитнес Mix</a></li>
                    <li><a href="#">Hip-Hop</a></li>
                  </ul>
                </div>
              </article>
              <article class="team-slide">
                <div class="team-slide__name"><a href="single_dancer.html">Алина Крюкова</a></div>
                <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""></div>
                <div class="team-slide__skill">
                  <ul>
                    <li><a href="#">Strip dance</a></li>
                    <li><a href="#">Растяжка Stretching</a></li>
                    <li><a href="#">Фитнес Mix</a></li>
                    <li><a href="#">Hip-Hop</a></li>
                  </ul>
                </div>
              </article>
              <article class="team-slide">
                <div class="team-slide__name"><a href="single_dancer.html">Алина Крюкова</a></div>
                <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""></div>
                <div class="team-slide__skill">
                  <ul>
                    <li><a href="#">Strip dance</a></li>
                    <li><a href="#">Растяжка Stretching</a></li>
                    <li><a href="#">Hip-Hop</a></li>
                    <li><a href="#">Фитнес Mix </a></li>
                  </ul>
                </div>
              </article>
              <article class="team-slide">
                <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
                <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""></div>
                <div class="team-slide__skill">
                  <ul>
                    <li><a href="#">Strip dance</a></li>
                    <li><a href="#">Растяжка Stretching</a></li>
                    <li><a href="#">Фитнес Mix</a></li>
                    <li><a href="#">Hip-Hop</a></li>
                  </ul>
                </div>
              </article>
              <article class="team-slide">
                <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
                <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""></div>
                <div class="team-slide__skill">
                  <ul>
                    <li><a href="#">Strip dance</a></li>
                    <li><a href="#">Растяжка Stretching</a></li>
                    <li><a href="#">Hip-Hop</a></li>
                    <li><a href="#">Фитнес Mix </a></li>
                  </ul>
                </div>
              </article>
              <article class="team-slide">
                <div class="team-slide__name"><a href="#">Алина Крюкова</a></div>
                <div class="team-slide__foto"><img src="./dist/images/home_bg.png" alt=""></div>
                <div class="team-slide__skill">
                  <ul>
                    <li><a href="#">Strip dance</a></li>
                    <li><a href="#">Растяжка Stretching</a></li>
                    <li><a href="#">Фитнес Mix</a></li>
                    <li><a href="#">Hip-Hop</a></li>
                  </ul>
                </div>
              </article>
            </div>
          </div>
          <div class="block-team__btn"><a class="btn btn_green" href="team.html">вся команда<i class="fas fa-arrow-right"></i></a></div>
        </div>
      </div>
    </section>
    <div class="block-team_pattern"></div>
    <div class="club_schedule">
      <div class="club_schedule__title"><span>Розклад занять</span></div>
      <section class="affiliates_schedule active">
        <div class="row">
          <div class="schedule__filter column large-7">
            <p>Вікові групи</p>
            <ul class="tabs-trigger">
              <li data-collection="schedule_filter-golos" data-triger="adults"> <span>дорослі</span></li>
              <li data-collection="schedule_filter-golos" data-triger="children"> <span>діти (малеча)</span></li>
              <li data-collection="schedule_filter-golos" data-triger="teens"> <span>діти та підлітки</span></li>
            </ul>
          </div>
        </div>
        <div class="schedule-wrap">
          <div class="row">
            <div class="schedule">
              <div class="schedule__title"><span>Київ Голосеево</span></div>
              <div class="schedule__items column large-10 large-offset-2">
                <article class="schedule-item" data-collection="schedule_filter-golos" data-target="adults">
                  <div class="schedule-item__date">
                    <div class="date-item"><span>Понеділок</span>
                      <p>13:00</p>
                    </div>
                    <div class="date-item"><span>Середа</span>
                      <p>18:00</p>
                    </div>
                    <div class="date-item"><span>Середа</span>
                      <p>18:00</p>
                    </div>
                  </div>
                  <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""></div>
                  <div class="schedule-item__info">
                    <div class="name"><span>Александра  Раковец</span></div>
                    <div class="styleDance"><span>Ladydance</span></div>
                    <div class="level">
                      <ul>
                        <li>Дорослі</li>
                        <li>Початковий рівень </li>
                      </ul>
                    </div><a class="btn btn_small" href="#">записатись</a>
                    <div class="group"><span>група набрана</span></div>
                  </div>
                </article>
                <article class="schedule-item" data-collection="schedule_filter-golos" data-target="adults">
                  <div class="schedule-item__date">
                    <div class="date-item"><span>Понеділок</span>
                      <p>13:00</p>
                    </div>
                    <div class="date-item"><span>Середа</span>
                      <p>18:00</p>
                    </div>
                  </div>
                  <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""></div>
                  <div class="schedule-item__info">
                    <div class="name"><span>Александра  Раковец</span></div>
                    <div class="styleDance"><span>Contemporary</span></div>
                    <div class="level">
                      <ul>
                        <li>Дорослі</li>
                        <li>Початковий рівень </li>
                      </ul>
                    </div><a class="btn btn_small" href="#">записатись</a>
                    <div class="group"><span>група набрана</span></div>
                  </div>
                </article>
                <article class="schedule-item" data-collection="schedule_filter-golos" data-target="adults">
                  <div class="schedule-item__date">
                    <div class="date-item"><span>Понеділок</span>
                      <p>13:00</p>
                    </div>
                    <div class="date-item"><span>Середа</span>
                      <p>18:00</p>
                    </div>
                  </div>
                  <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""></div>
                  <div class="schedule-item__info">
                    <div class="name"><span>Александра  Раковец</span></div>
                    <div class="styleDance"><span>Ladydance</span></div>
                    <div class="level">
                      <ul>
                        <li>Дорослі</li>
                        <li>Початковий рівень </li>
                      </ul>
                    </div><a class="btn btn_small" href="#">записатись</a>
                    <div class="group"><span>група набрана</span></div>
                  </div>
                </article>
                <article class="schedule-item" data-collection="schedule_filter-golos" data-target="adults">
                  <div class="schedule-item__date">
                    <div class="date-item"><span>Понеділок</span>
                      <p>13:00</p>
                    </div>
                    <div class="date-item"><span>Середа</span>
                      <p>18:00</p>
                    </div>
                  </div>
                  <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""></div>
                  <div class="schedule-item__info">
                    <div class="name"><span>Александра  Раковец</span></div>
                    <div class="styleDance"><span>Ladydance</span></div>
                    <div class="level">
                      <ul>
                        <li>Дорослі</li>
                        <li>Початковий рівень </li>
                      </ul>
                    </div><a class="btn btn_small" href="#">записатись</a>
                    <div class="group"><span>група набрана</span></div>
                  </div>
                </article>
                <article class="schedule-item" data-collection="schedule_filter-golos" data-target="children">
                  <div class="schedule-item__date">
                    <div class="date-item"><span>Понеділок</span>
                      <p>13:00</p>
                    </div>
                    <div class="date-item"><span>Середа</span>
                      <p>18:00</p>
                    </div>
                  </div>
                  <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""></div>
                  <div class="schedule-item__info">
                    <div class="name"><span>Александра  Раковец</span></div>
                    <div class="styleDance"><span>Ladydance</span></div>
                    <div class="level">
                      <ul>
                        <li>діти</li>
                        <li>Початковий рівень </li>
                      </ul>
                    </div><a class="btn btn_small" href="#">записатись</a>
                    <div class="group"><span>група набрана</span></div>
                  </div>
                </article>
                <article class="schedule-item" data-collection="schedule_filter-golos" data-target="children">
                  <div class="schedule-item__date">
                    <div class="date-item"><span>Понеділок</span>
                      <p>13:00</p>
                    </div>
                    <div class="date-item"><span>Середа</span>
                      <p>18:00</p>
                    </div>
                  </div>
                  <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""></div>
                  <div class="schedule-item__info">
                    <div class="name"><span>Александра  Раковец</span></div>
                    <div class="styleDance"><span>Ladydance</span></div>
                    <div class="level">
                      <ul>
                        <li>діти</li>
                        <li>Початковий рівень </li>
                      </ul>
                    </div><a class="btn btn_small" href="#">записатись</a>
                    <div class="group"><span>група набрана</span></div>
                  </div>
                </article>
                <article class="schedule-item" data-collection="schedule_filter-golos" data-target="children">
                  <div class="schedule-item__date">
                    <div class="date-item"><span>Понеділок</span>
                      <p>13:00</p>
                    </div>
                    <div class="date-item"><span>Середа</span>
                      <p>18:00</p>
                    </div>
                  </div>
                  <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""></div>
                  <div class="schedule-item__info">
                    <div class="name"><span>Александра  Раковец</span></div>
                    <div class="styleDance"><span>Ladydance</span></div>
                    <div class="level">
                      <ul>
                        <li>діти</li>
                        <li>Початковий рівень </li>
                      </ul>
                    </div><a class="btn btn_small" href="#">записатись</a>
                    <div class="group"><span>група набрана</span></div>
                  </div>
                </article>
                <article class="schedule-item" data-collection="schedule_filter-golos" data-target="teens">
                  <div class="schedule-item__date">
                    <div class="date-item"><span>Понеділок</span>
                      <p>13:00</p>
                    </div>
                    <div class="date-item"><span>Середа</span>
                      <p>18:00</p>
                    </div>
                  </div>
                  <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""></div>
                  <div class="schedule-item__info">
                    <div class="name"><span>Александра  Раковец</span></div>
                    <div class="styleDance"><span>Ladydance</span></div>
                    <div class="level">
                      <ul>
                        <li>підлітки</li>
                        <li>Початковий рівень </li>
                      </ul>
                    </div><a class="btn btn_small" href="#">записатись</a>
                    <div class="group"><span>група набрана</span></div>
                  </div>
                </article>
                <article class="schedule-item" data-collection="schedule_filter-golos" data-target="teens">
                  <div class="schedule-item__date">
                    <div class="date-item"><span>Понеділок</span>
                      <p>13:00</p>
                    </div>
                    <div class="date-item"><span>Середа</span>
                      <p>18:00</p>
                    </div>
                  </div>
                  <div class="schedule-item__img"><img src="./dist/images/image.png" alt=""></div>
                  <div class="schedule-item__info">
                    <div class="name"><span>Александра  Раковец</span></div>
                    <div class="styleDance"><span>Ladydance</span></div>
                    <div class="level">
                      <ul>
                        <li>підлітки</li>
                        <li>Початковий рівень </li>
                      </ul>
                    </div><a class="btn btn_small" href="#">записатись</a>
                    <div class="group"><span>група набрана</span></div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
        <div class="schedule__btn"><a class="btn btn_green" href="#">записатись на заняття</a></div>
      </section>
    </div>
    <section>
      <div class="row">
        <div class="rent clearfix">
          <div class="column large-4">
            <div class="rent__info">
              <div class="rent__title"><span>Оренда залу</span></div>
              <div class="rent__text">
                <p>Ви можете орендувати наш зал для вашої події чи занять </p>
                <p>Звертайтесь за телефоном щоб орендувати танцювальний зал у Києві без реєстрації і смс </p><a href="tel:+38 099 37 45 909">+38 099 37 45 909</a>
              </div>
              <div class="rent__btn"><a class="btn btn_small" href="#">орендувати</a></div>
            </div>
          </div>
          <div class="column large-8">
            <div class="rent__img"><img src="./dist/images/image.png" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="club__map">
        <div id="map">
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApj8qSzyO4DqXeQtFQPKI4mi6p-MBwlpo&amp;callback=initMap"></script>
        </div>
        <div class="row">
          <div class="map__info">
            <div class="map__title"><span>Як знайти зал Голосеево?</span></div>
            <div class="map__sub-title"><span>Доїхати громадським транспортом, або на власному авто.</span></div>
            <div class="map__btn"><a class="btn btn_red" href="#">побудувати маршрут<i class="fas fa-arrow-right"></i></a></div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer__pattern"></div>
      <div class="row">
        <div class="footer clearfix">
          <div class="column large-6">
            <div class="footer__soc column large-4 medium-4">
              <div class="footer-title"><span>Мы в соцсетях</span></div><a href="#"><img src="./dist/images/f-fb.svg" alt=""></a><a href="#"><img src="./dist/images/f-inst.svg" alt=""></a><a href="#"><img src="./dist/images/f-youtube.svg" alt=""></a>
            </div>
            <div class="footer__menu column large-8 medium-8">
              <div class="footer-title"><span>Быстрий переход</span></div>
              <ul>
                <li><a href="#">Розклад</a></li>
                <li><a href="#">Оренда</a></li>
                <li><a href="#">Про нас</a></li>
                <li><a href="#">Викладачі</a></li>
                <li><a href="#">Контакти</a></li>
                <li><a href="#">Галерея</a></li>
              </ul>
            </div>
          </div>
          <div class="column large-6">
            <div class="footer__contacts clearfix">
              <div class="footer-title"><span>Контакты</span></div>
              <div class="contact-item column large-4 medium-4">
                <div class="contact-item__name"><span>Киев — Голосеево</span></div>
                <div class="contact-item__phone"><a href="tel:+38 (093) 955-59-00">+38 (093) 955-59-00</a></div>
              </div>
              <div class="contact-item column large-4 medium-4">
                <div class="contact-item__name"><span>Киев — Голосеево</span></div>
                <div class="contact-item__phone"><a href="tel:+38 (093) 955-59-00">+38 (093) 955-59-00</a></div>
              </div>
              <div class="contact-item column large-4 medium-4">
                <div class="contact-item__name"><span>Киев — Голосеево</span></div>
                <div class="contact-item__phone"><a href="tel:+38 (093) 955-59-00">+38 (093) 955-59-00</a></div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="footer__copy">
              <p>© 2018 MIX STYLE., All Rights Reserved. Розроблено людьми з LIONLINE</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
