pug/styles.pug
doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/header
		section
			.styles-intro-wrap
				.row
					.page-intro
						
						.page-intro__title
							span Стили
							.sub-title
								span Группы по стилям
						.page-intro__breadcrumbs
							include ./parts/breadcrumbs
			.styles-intro-pattern
		
		section
			.row
				.stiles__filter
					
					ul.tabs-trigger
						li#all-items.tab-active(data-collection="style_filter", data-triger="0") 
							span всі стилі
							i.fas.fa-arrow-right
						li(data-collection="style_filter", data-triger="gol") 
							span для дорослих
						li(data-collection="style_filter", data-triger="tr") 
							span для малечі
						li(data-collection="style_filter", data-triger="if") 
							span для дітей та підлітків


				.stiles__items

					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше


					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше


					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше

					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше


					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше


					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="if")


						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="tr")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше

								
					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="tr")


						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше

					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="gol")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше

								
					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="gol")


						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="gol")
						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше

								
					article.styles__item.column.large-3.medium-4(data-collection="style_filter", data-target="gol")


						.styles-item
							.styles-item__title
								span Jazz Funk
							a(href="#").styles-item__img
								.styles-item__img_bg
								img(src="./dist/images/image.png", alt="")
							.styles-item__btn
								a.btn.btn_small(href="#") детальніше
				.stiles__btn
					a.btn.btn_green(href="#") записатись на заняття
		include ./parts/footer

styles.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>mixstyle</title>
    <meta name="description" content="">
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="dist/scripts/jquery.js"></script>
    <script type="text/javascript" src="dist/scripts/main.js"> </script>
    <link rel="stylesheet" href="dist/styles/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="dist/images/favicon.png">
  </head>
  <body>
    <header>
      <div class="row">
        <div class="header">
          <div class="header__soc column large-1"><a href="#"><img src="./dist/images/h-inst.svg" alt=""></a><a href="#"><img src="./dist/images/h-fb.svg" alt=""></a></div>
          <div class="header__menu column large-10">
            <ul class="menu_left">
              <li>MIX style
                <ul class="sub_menu">
                  <li><a href="#">MIX style2</a></li>
                  <li><a href="#">MIX style3</a></li>
                </ul>
              </li>
              <li><a href="#">Расписание</a></li>
            </ul>
            <div class="header__logo"><a href="index.html"><img src="./dist/images/header_logo.svg" alt=""></a></div>
            <ul class="menu_right">
              <li>филиалы
                <ul class="sub_menu">
                  <li><a href="#">филиалы2</a></li>
                  <li><a href="#">филиалы3</a></li>
                </ul>
              </li>
              <li><a href="#">цены</a></li>
            </ul>
          </div>
          <div class="header__lang column large-1"><a href="#">ru</a></div>
        </div>
      </div>
    </header>
    <section>
      <div class="styles-intro-wrap">
        <div class="row">
          <div class="page-intro">
            <div class="page-intro__title"><span>Стили</span>
              <div class="sub-title"><span>Группы по стилям</span></div>
            </div>
            <div class="page-intro__breadcrumbs">
              <div class="row column">
                <nav aria-label="You are here:" role="navigation">
                  <ul class="breadcrumbs">
                    <li><a href="#">Головна </a></li>
                    <li><span class="show-for-sr">Current: </span>Команда</li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="styles-intro-pattern"></div>
    </section>
    <section>
      <div class="row">
        <div class="stiles__filter">
          <ul class="tabs-trigger">
            <li class="tab-active" id="all-items" data-collection="style_filter" data-triger="0"> <span>всі стилі</span><i class="fas fa-arrow-right"></i></li>
            <li data-collection="style_filter" data-triger="gol"> <span>для дорослих</span></li>
            <li data-collection="style_filter" data-triger="tr"> <span>для малечі</span></li>
            <li data-collection="style_filter" data-triger="if"> <span>для дітей та підлітків</span></li>
          </ul>
        </div>
        <div class="stiles__items">
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="if">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="if">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="if">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="if">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="if">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="if">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="tr">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="tr">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="gol">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="gol">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="gol">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
          <article class="styles__item column large-3 medium-4" data-collection="style_filter" data-target="gol">
            <div class="styles-item">
              <div class="styles-item__title"><span>Jazz Funk</span></div><a class="styles-item__img" href="#">
                <div class="styles-item__img_bg"></div><img src="./dist/images/image.png" alt=""></a>
              <div class="styles-item__btn"><a class="btn btn_small" href="#">детальніше</a></div>
            </div>
          </article>
        </div>
        <div class="stiles__btn"><a class="btn btn_green" href="#">записатись на заняття</a></div>
      </div>
    </section>
    <footer>
      <div class="footer__pattern"></div>
      <div class="row">
        <div class="footer clearfix">
          <div class="column large-6">
            <div class="footer__soc column large-4 medium-4">
              <div class="footer-title"><span>Мы в соцсетях</span></div><a href="#"><img src="./dist/images/f-fb.svg" alt=""></a><a href="#"><img src="./dist/images/f-inst.svg" alt=""></a><a href="#"><img src="./dist/images/f-youtube.svg" alt=""></a>
            </div>
            <div class="footer__menu column large-8 medium-8">
              <div class="footer-title"><span>Быстрий переход</span></div>
              <ul>
                <li><a href="#">Розклад</a></li>
                <li><a href="#">Оренда</a></li>
                <li><a href="#">Про нас</a></li>
                <li><a href="#">Викладачі</a></li>
                <li><a href="#">Контакти</a></li>
                <li><a href="#">Галерея</a></li>
              </ul>
            </div>
          </div>
          <div class="column large-6">
            <div class="footer__contacts clearfix">
              <div class="footer-title"><span>Контакты</span></div>
              <div class="contact-item column large-4 medium-4">
                <div class="contact-item__name"><span>Киев — Голосеево</span></div>
                <div class="contact-item__phone"><a href="tel:+38 (093) 955-59-00">+38 (093) 955-59-00</a></div>
              </div>
              <div class="contact-item column large-4 medium-4">
                <div class="contact-item__name"><span>Киев — Голосеево</span></div>
                <div class="contact-item__phone"><a href="tel:+38 (093) 955-59-00">+38 (093) 955-59-00</a></div>
              </div>
              <div class="contact-item column large-4 medium-4">
                <div class="contact-item__name"><span>Киев — Голосеево</span></div>
                <div class="contact-item__phone"><a href="tel:+38 (093) 955-59-00">+38 (093) 955-59-00</a></div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="footer__copy">
              <p>© 2018 MIX STYLE., All Rights Reserved. Розроблено людьми з LIONLINE</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
